<div id="app container">
  <div class='header'>Live.ly</div>
  <h5 class='blurb'>Find out where your favorite bands are playing live!</h5>
  <div>
    <search search="$ctrl.search" artist="$ctrl.artist"/>
  </div>
  <button ng-click="$ctrl.review()" class='saved'>View Saved Shows</button>
  <div>
    <saved-shows
      show='show'
      index='$ctrl.index'
      ng-repeat='show in $ctrl.shows'
    />
  </div>
  <div>
    <concert-list artist=$ctrl.artist concerts="$ctrl.concerts"/>
  </div>
</div>