<div id="concert-list">
  <div class="heading-container">
    <h4 class='heading'>Upcoming Shows</h4>
  </div>
  <div>
    <concert-list-item
      shows = '$ctrl.shows'
      review = '$ctrl.review'
      saved='$ctrl.saved'
      concert=concert
      index="$index"
      ng-repeat="concert in $ctrl.concerts"
    ></concert-list-item>
  <div class="empty" ng-show="$ctrl.pending">
      <div>Yikes! No live shows here!</div>
      <img src="./images/bandIcon.png" height="300px" width="300px">
  </div>
  </div>
</div>