<div id="concert-list-item">
  <div class='concert-info'>

    <div class='concert-text'>
      <div>{{$ctrl.concert.Artists[0].Name}}</div>
      <div class='date'>{{$ctrl.concert.Date | date : format : shortDate}}</div>
      <div class='venue'>{{$ctrl.concert.Venue.Name}}</div>
      <div class='location'>{{$ctrl.concert.Venue.City}}, {{$ctrl.concert.Venue.State}}</div>
    </div>

    <div class='concert-actions'>
      <div class='tickets'><a href='{{$ctrl.concert.TicketUrl}}'><img src='./images/ticketIcon.png' height='30' width='30'>Buy Tickets</a></div>
      <save concert=$ctrl.concert saved='$ctrl.saved' review='$ctrl.review' shows='$ctrl.shows'></save>
    </div>

  </div>
</div>
